.git
.gitignore
**/.env
**/node_modules
**/vendor
**/storage/logs/*
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/bootstrap/cache/*.php
**/tests
ship
hub
registry
README.md
*.tar
*.bat
*.command
build-ship.sh
